<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="@{/}">
    <meta charset="UTF-8">
    <title>修改名片</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>
<body>
<div th:include="header"></div>
<br><br><br>
<div class="container">
    <div class="bg-primary"  style="width:70%; height: 60px;padding-top: 0.5px;">
        <h3 align="center">修改名片</h3>
    </div><br>
    <form action="card/add?act=update" method="post" class="form-horizontal" th:object="${card}"  enctype="multipart/form-data" >
        <div class="form-group has-success">
            <label class="col-sm-2 col-md-2 control-label">姓名</label>
            <div class="col-sm-4 col-md-4">
                <input type="text" class="form-control" placeholder="请输入姓名" th:field="*{name}"/>
            </div>
        </div>
        <div class="form-group has-success">
            <label class="col-sm-2 col-md-2 control-label">电话号码</label>
            <div class="col-sm-4 col-md-4">
                <input type="tel" class="form-control" placeholder="请输入电话" th:field="*{telephone}"/>
            </div>
        </div>
        <div class="form-group has-success">
            <label class="col-sm-2 col-md-2 control-label">E-Mail</label>
            <div class="col-sm-4 col-md-4">
                <input type="email"  class="form-control" placeholder="请输入E-Mail" th:field="*{email}"/>
            </div>
        </div>
        <div class="form-group has-success">
            <label class="col-sm-2 col-md-2 control-label">单位</label>
            <div class="col-sm-4 col-md-4">
                <input type="text" class="form-control" placeholder="请输入单位" th:field="*{company}"/>
            </div>
        </div>
        <div class="form-group has-success">
            <label class="col-sm-2 col-md-2 control-label">职位</label>
            <div class="col-sm-4 col-md-4">
                <input type="text" class="form-control" placeholder="请输入职位" th:field="*{post}"/>
            </div>
        </div>
        <div class="form-group has-success">
            <label class="col-sm-2 col-md-2 control-label">地址</label>
            <div class="col-sm-4 col-md-4">
                <input type="text" class="form-control" placeholder="请输入地址" th:field="*{address}"/>
            </div>
        </div>
        <div class="form-group has-success">
            <label class="col-sm-2 col-md-2 control-label">照片</label>
            <div class="col-sm-4 col-md-4">
                <input type="file" placeholder="请选择客户照片"  name="logo" class="form-control" />
                <img th:src="'images/'+${card.logoName}" style="height: 50px; width: 50px; display: block;">
                <input type="hidden" th:field="*{logoName}"/>
                <input type="hidden" th:field="*{id}"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"class="btn btn-success" >修改</button>
                <button type="reset" class="btn btn-primary" >重置</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>